<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_roadtofit"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_roadtofit"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoadToFit"
        tools:targetApi="31">
        <activity
            android:name=".ui.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.RoadToFit.NoActionBar" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.RoadToFit.NoActionBar" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.RoadToFit.NoActionBar" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.RoadToFit.NoActionBar"/>
        <activity
            android:name=".ui.body.BodyActivity"
            android:exported="false"
            android:theme="@style/Theme.RoadToFit.NoActionBar"/>
        <activity
            android:name=".ui.body.BodyActivity2"
            android:exported="false"
            android:theme="@style/Theme.RoadToFit.NoActionBar"/>
        <activity
            android:name=".ui.diet.DietActivity"
            android:exported="false"
            android:theme="@style/Theme.RoadToFit.NoActionBar"/>
        <activity
            android:name=".ui.diet.DietActivity3"
            android:exported="false"
            android:theme="@style/Theme.RoadToFit.NoActionBar"/>
        <activity
            android:name=".ui.diet.DietActivity2"
            android:exported="false"
            android:theme="@style/Theme.RoadToFit.NoActionBar"/>
        <activity
            android:name=".ui.diet.DietActivity4"
            android:exported="false"
            android:theme="@style/Theme.RoadToFit.NoActionBar"/>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.RoadToFit.NoActionBar" />
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.RoadToFit.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>